{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<!-- Home -->
<section class="support_view">
  <div class="container_view flex-height flex-column justify-content-center">
    <div class="d-flex justify-content-center">
      <img class="logo_home" src="/img/scouts-vertical.png" alt="logo de scouts guides de france">
    </div>

    <nav class="container_button">
      <div class="container_card">
        <!-- Inventory : Only Admin and Responsable have access to it -->
        {% if app.user is not null and (app.user.roles[0] == 'ROLE_ADMIN' or app.user.roles[0] == 'ROLE_RESPONSABLE') %}
          <div class="card text-center">
            <div class="card-body">
              <div class="card_title_custom">
                <i class="fas fa-box"></i>
                <h5>Inventaire</h5>
              </div>
              <p class="card-text">Cliquez ci-dessous pour faire l'inventaire du matériel.</p>
            </div>
            <a href="/app/menu-ajout" class="card-footer color_button button_style text-muted">INVENTAIRE</a>
          </div>

          <!-- Add member : Only Admin has access to it -->
          {% if app.user is not null and (app.user.roles[0] == 'ROLE_ADMIN') %}
            <div class="card text-center">
              <div class="card-body">
                <div class="card_title_custom">
                  <i class="fas fa-users"></i>
                  <h5>Espace Membre</h5>
                </div>
                <p class="card-text">Cliquez ci-dessous pour créer un nouveau membre.</p>
              </div>
              <a href="/app/ajouter-utilisateur" class="card-footer color_button button_style text-muted">Espace Membre</a>
            </div>
          {% endif %}
        {% endif %}

        <!-- Reservation -->
        <div class="card text-center">
          <div class="card-body">

            <div class="card_title_custom">
              <i class="fas fa-tools"></i>
              <h5>Réserver du matériel</h5>
            </div>
            <p class="card-text">Pour réserver votre matériel, vérifiez que celui-ci est disponible en quantité suffisante.</p>
          </div>
          <a href="/app/reservez" class="card-footer color_button button_style text-muted" >Réserver</a>
        </div>

        <!-- Withdraw -->
        <div class="card text-center">
          <div class="card-body">
            {% if reservations.reservation is defined %}<div class="notification">{{ reservations.reservation }}</div>{% endif %}
            <div class="card_title_custom">
              <i class="fas fa-calendar-check"></i>
              <h5>Retrait</h5>
            </div>
            <p class="card-text">Cliquez ci-dessous et scannez les articles à emprunter.</p>
          </div>
          <a href="/app/retrait" class="card-footer color_button button_style text-muted">Retrait</a>
        </div>

        <!-- Restitution -->
        <div class="card text-center">
          <div class="card-body">
            {% if reservations.emprunt is defined %}<div class="notification">{{ reservations.emprunt }}</div>{% endif %}
            <div class="card_title_custom">
              <i class="fas fa-handshake"></i>
              <h5>Restituer du matériel</h5>
            </div>
            <p class="card-text">Pour restituer votre matériel, vérifiez l'état puis scannez chaque article et déposez les dans leurs emplacements respectifs.</p>
          </div>
          <a href="/app/restituer" class="card-footer color_button button_style text-muted">RESTITUER</a>
        </div>

        <!-- History of reservations -->
        <div class="card text-center">
          <div class="card-body">
            <div class="card_title_custom">
              <i class="fas fa-calendar-alt"></i>
              <h5>Historique</h5>
            </div>
            <p class="card-text">Cliquez ci-dessous pour accéder à l'historique de vos précédents emprunts.</p>
          </div>
          <a href="/app/historique" class="card-footer color_button button_style text-muted">HISTORIQUE</a>
        </div>
      </div>
    </nav>
  </div>
</section>
{% endblock %}
