{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<!-- header -->
<header>
    <nav>
        <div class="dropdown">
            <i onclick="myFunction()" class="fas fa-user dropbtn"></i>
            <div id="myDropdown" class="dropdown-content">
              <a href="#">Déconexion</a>
            </div>
        </div>
    </nav>
</header>

<!-- Home -->
<section class="support_view">
    <div class="container_view">



    </div>
</section>

<!-- footer -->
<footer>

</footer>
{% endblock %}
