{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}

<!-- Home -->
<section class="support_view">
    <div class="container_view container_full_view">
      <div class="mt-3 flex-height d-flex flex-column justify-content-center">
        <div class="content_restituer_articles">
          <div class="info_articles">
            <p><i class="fas fa-quote-right"></i>Après chaque sortie, je ramène le matériel à l'entrepôt.<br>
              Je scan mon article et je le dépose au bon emplacement.</p>
          </div>

        </div>

      </div>
    </div>
</section>
{% include 'components/footer.html.twig' %}
{% endblock %}
