{% extends 'base.html.twig' %}

{% block title %}Inventaire{% endblock %}

{% block body %}

  <div class="support_view">
    <div class="container_view">
      <nav class="container_button">
        <div class="card border-primary mb-3" style="max-width: 60rem;">
          <div class="container">
            <div class=" head_saisi_article">
              <h4 >Ajouter des articles perissables</h4>
            </div>
            <div class="form-group">
              <div>
                  <div class="row">
                    <div class="col">
                      <!-- <label for="idObjet">Objet</label> -->
                      {{form_row(form.objet)}}
                      <!-- <input list="objects" type="text"> -->
                        <datalist id="objects">
                            {% for obj in objects %}
                            <option>{{obj.titre}}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                  </div>
              </div>
              <div>
                <div class="row">
                   <div class="col">
                      {{form_label(form.peremption)}}
                  </div>
                  <div class="col">
                      {{form_widget(form.peremption)}}
                  </div>
                </div>
                <div class="row">
                   <div class="col">
                    <label for"quantite">Quantite</label>
                   </div>
                  <div class="col">
                    <input type="number" id="name" name="name" required>
                  </div>
                </div>

              </div>

              <div class="scan_articles_resituer">
                  <input class="input_style_restituer" type="text" name="" value="" placeholder="ex: 01 0045 7896 543" required>
                  <a href="#" class="button-scan input_button">
                      <div class="button_scan_restituer m-0"></div>
                  </a>
              </div>

              <div class="margeButton ajouter ">
                <button type="submit" class="btn btn-primary pull-right"> AJOUTER </button>
              </div>
          </div>

        </div>
    </div>
    </nav>
  </div>
</div>

<!-- footer -->
<footer>

</footer>
{% endblock %}
