{% extends 'base.html.twig' %}

{% block title %}Ajouter un utilisateur{% endblock %}

{% block body %}
<div id="barcode-scanner">
  <video src=""></video>
  <canvas class="drawingBuffer"></canvas>
</div>

<input type="text" name="codebar1" id="codebar1" />
<button onClick="initScan(1)">Scan</button>
{% endblock %}
