{% extends 'base.html.twig' %}

{% block title %}Je crée mon objet{% endblock %}

{% block body %}

<!-- header -->
<header>
    <nav>

        <div class="dropdown display:inline-block">
            <i onclick="myFunction()" class="fas fa-user dropbtn"></i>

            <div id="myDropdown" class="dropdown-content">
              <a href="#">Déconexion</a>
            </div>
      </div>
    </div>




      {# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <h3 class="inventaire">INVENTAIRE <span class="sr-only">(current)</h3>
      </div> #}
    </nav>

        {# <div class="dropdown">
            <i onclick="myFunction()" class="fas fa-user dropbtn"></i>
            <div id="myDropdown" class="dropdown-content">
              <a href="#">Déconexion</a>
            </div>
        </div>
    </nav> #}
</header>
  <section>
    {{ form(form) }}
  </section>
{% endblock %}
